body {
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

#clock {
    text-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
.glass {
    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.18),
        rgba(255,255,255,0.08)
    );
    backdrop-filter: blur(25px);
}
